*.swp
*~
*.o

Makefile
Makefile.in

/build-aux/

/autom4te.cache/

/config.h
/config.log
/configure
/config.status

/tags

/aclocal.m4
/stamp-h1
/autoscan.log
/libtool

/src/.deps/
/src/.libs

/tests/.deps/
